/* Web Font Link */
@font-face {
  font-family: 'S-CoreDream-3Light';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'S-CoreDream-5Medium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'S-CoreDream-7ExtraBold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-7ExtraBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* Remove Default Style */
*{margin:0; padding:0; box-sizing: border-box;}
a{color:#212529; text-decoration: none;}
ol, ul{list-style:none;}
input, button, textarea{outline:0; border-radius:0; border: 0; padding: 10px; color: #212529;}
input::placeholder{color: #ccc;}
textarea{resize:none;}
img{display:block; object-fit: cover;}
em{font-style: normal;}
b{font-weight: normal;}

/* Setting Reset Layout Style */
.center{width:80%; margin:auto; max-width:1230px; height:auto;}

.wrap{width:100%; height:auto;}
.clearfix:after{display:block; content:''; clear:both;}
body{font-size:14px; font-family: 'S-CoreDream-3Light', sans-serif; color:#212529; _height:3000px;}
h1{font-family: 'S-CoreDream-7ExtraBold', sans-serif; color:#212529; font-size: 36px;}
h2{font-family: 'S-CoreDream-7ExtraBold', sans-serif; color:#212529; font-size: 32px;}
h3{font-family: 'S-CoreDream-5Medium', sans-serif; color:#212529; font-size: 18px;}

/* Common Elements Style Code */
/* Title */
.tit_box{width:100%; height:auto; display:flex; align-items: center; flex-direction: column; padding:0 0 50px 0;}
.tit_box h2{font-size:50px; font-weight:200; margin:0 0 20px 0;}
.tit_box p{font-size:18px; font-weight:300; text-align: center;}